aside {
  max-width: 170px;
  width: 100%;
  padding: 12px 12px 0 0;

  a {
    color: $black;
  }

  .img {
    &-tick {
      width: 21px;
      height: 21px;
      background-position: -10px -70px;
    }
  }

  .aside-avatar {
    padding: 3px;
    background: $white;
    border: 1px solid $border;
    border-radius: 3px;
    cursor: pointer;
  }

  .aside {
    &-title {
      font-size: 24px;
      line-height: 1;
      padding: 18px 0 10px 0;

      span {
        display: inline-block;
      }
    }

    &-at {
      margin-bottom: 20px;

      a {
        color: #98949c;
      }
    }

    &-menu {
      ul {
        margin-bottom: 15px;
      }

      li {
        font-size: 14px;

        a {
          color: $darkGray;
          font-weight: bold;
          padding: 10px;
          display: block;
        }
      }

      .active {
        border-left: 3px solid #4267b2;
        background-color: #dee0e3;

        a {
          color: $black;
        }
      }
    }

    &-button {
      font-size: 12px;
      padding: 4px 6px;
      border-radius: 4px;
      color: $white;
      background: #42b72a;
    }
  }
}
