$white : #fff;
$black : #000;
$darkBlue : #3b5998;
$darkerBlue : #29487d;
$buttonBlue : #365899;
$blue : #36589f;
$separator : #365089;
$pageContainerWidth : 1012px;
$gray : #f6f7f9;
$darkerGray : #ebedf0;
$darkGray : #4b4f56;
$bgColor : #e9eaed;
$border : #dfe0e4;
$stars: #4080ff;
$rating : #1d2129;
